<form [formGroup]="stateForm">
  <mat-form-field>
    <mat-label>Select State</mat-label>
    <input type="text"
           matInput
           formControlName="stateGroupControl"
           required
           [matAutocomplete]="autoGroup"
           >
      <mat-autocomplete #autoGroup="matAutocomplete" [displayWith]="stateDisplayFn">
        @for (group of stateGroupOptions | async; track group) {
          <mat-optgroup [label]="group.letter">
            @for (state of group.states; track state) {
              <mat-option [value]="state">{{state.name}}</mat-option>
            }
          </mat-optgroup>
        }
    </mat-autocomplete>
  </mat-form-field>
  <button mat-raised-button (click)="OnSubmit()">Submit</button>
</form>

